<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <h2>Caching</h2>

  <dl>
    <dt>No Configuration</dt>
    <dd>{{date$ | async}}</dd>
    <dt>Performance</dt>
    <dd>{{secondDate$ | async}}</dd>
    <dt>Freshness</dt>
    <dd>{{thirdDate$ | async}}</dd>
  </dl>
  <div>
    <button (click)="refresh()">Refresh</button>
  </div>

  <h2>Push Notifications</h2>

  <div>
    <button (click)="enablePush()">Setup Push</button>
  </div>

  <div>
    <button (click)="notifyMe()">Send Push</button>
  </div>

  <img width="300" alt="2BIT Logo" src="https://cdn.2bitcloud.ch/img/logo/2bit.svg">

</div>

